# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "IOkMcOSV0qNzlK2msnRBFNq2mP+wbTzyugoA/D24RSxBTc7A6QSec2YWS58tkJDhpaKMXsN0HoSsu/k0IouQ73tbU+7ARsQvi5klxZkTIJbEfcON9OjmgUV7zOYMffd/JBSlQGLRsG0VPBwLtg5B9IrnhjhWnaa6FiJZYRSAJBaQKT5em7fj1DYN/n1l2IZr6UNqEdOuXXdgNtg2QlplSwTC4O6xSdyIJWncZJoHYqktUidbgz/WgSQL3KZwibqCvoWenywO7+KGGINvVbr8/ljTdQUqyaHDqAKbxVk7UGASmf/VS0JJloFaqnhGAs+C2ezLANZjMyAV1MQ/GVM1yEZD+QA6rLdLxm8uBWIFmzYE4epVQiWWuIwV12bG+IC6UaMfkfz7hprsEmMMCU5QVdL/R4oEIcNJRUqbusp1T+AUB9/0loET3xI06FLPNjL7vaeJCcxpqTvvKLtgnG6pD0Y3u6eS7BGeqoDuJFv+RGWkJjnMpgeGFFC3ONMSu4c15YcYZeEuPZQNaSr8jJYgBfyc0Z0R89OPzuiuS8C13pJxrkeLJt0Kym4WP4ij/oyeR81/7G9ZAj87p6hBgJPjCEI86WCmz6EjTotetzmS+0Uy2uuSUKC3yGEcF937L6RNJIc885DHFjqjRVR89Gv4r5eZ2kdj/nTC2uVpM+dv9OQ="


before_install:
    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root
      conda config --remove channels defaults
      conda config --add channels defaults
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - upload_or_check_non_existence ./recipe conda-forge --channel=main
